---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Página inicial" pageDescription="Esta es una pagina para ofrecer servicios de desarrollo de software">
    <h1>Página inicial</h1>
    <p>Bienvenido a mi blog!</p>
</Layout>
